.develop-detail{
    background-color: rgb(208, 228, 228);
    /* display: grid; */
    /* justify-content: center; */
    border-radius: 20px;
    border:2px solid rgb(48, 148, 81);
    margin: 5px;
    padding: 5px;
}
.develop-detail img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.develop-name{
    display: grid;
    justify-items: center;
}
.devo-btn{
    background-color: rgb(39, 25, 22);
    border-radius: 10px;
    padding: 10px 0px;
    width: 40%;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}